/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.kanban-column {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.kanban-task {
    border: 1px solid #aaa;
    padding: 5px;
    margin: 5px 0;
}